[submodule "test-projects/codox"]
	path = test-projects/codox
	url = https://github.com/weavejester/codox
[submodule "test-projects/promesa"]
	path = test-projects/promesa
	url = https://github.com/funcool/promesa
