{:tasks {test {:task (clojure "-M:test")}
         test:watch {:task (clojure "-M:test" "--watch")}
         test:coverage {:task (clojure "-M:test-coverage")}
         website {:depends [website:examples website:build]}
         website:examples {:extra-paths ["script"]
                           :requires ([build-examples])
                           :task (build-examples/-main)}
         website:docs {:extra-paths ["script"]
                       :requires ([build-examples])
                       :task (build-examples/build-dinodoc-docs)}
         website:build {:task (shell {:dir "website"} "bun run build")}
         website:start {:task (shell {:dir "website"} "bun start")}
         deploy {:depends [website]
                 :task (shell "bunx wrangler pages deploy website/build")}}}
