{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-kondo/clj-kondo {:mvn/version "2023.07.13"}
        markdown-clj/markdown-clj {:mvn/version "1.11.4"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.27"}
        slugify/slugify {:mvn/version "0.0.1"}}
 :tools/usage {:ns-default quickdoc.api}}
