{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-kondo/clj-kondo {:mvn/version "2023.09.07"}
        markdown-clj/markdown-clj {:mvn/version "1.11.7"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.27"}
        slugify/slugify {:mvn/version "0.0.1"}
        babashka/fs {:mvn/version "0.4.19"}

        ;; Parsing HTML for javadoc integration
        org.clj-commons/hickory {:mvn/version "0.7.4"}

        ;; For now just including structurizr dep in root which can be wasteful when not using it.
        ;; In the future should likely be a separate artifact published in
        ;; clojars and then have something like dinodoc-all that would depend
        ;; on every component for convenience.
        dinodoc/antora {:local/root "components/antora"}
        dinodoc/structurizr {:local/root "components/structurizr"}
        dinodoc/statecharts {:local/root "components/statecharts"}}

 :tools/usage {:ns-default dinodoc.api}

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                ;; for statecharts tests
                examples/statecharts {:local/root "examples/statecharts"}}
   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   :main-opts ["-m" "kaocha.runner" "--plugin" "cloverage"]}

  :doc
  {:main-opts ["doc.clj"]}}}
