#kaocha/v1
 {:tests
  [{:id :unit
    :source-paths ["src"
                   "components/structurizr/src"
                   "components/statecharts/src"
                   "examples/statecharts/src"]
    :test-paths ["test/src"
                 "components/structurizr/test/src"
                 "components/statecharts/test/src"]}]}
