{:aliases
 {:doc {:extra-deps {dinodoc/dinodoc {:local/root "../../"}
                     babashka/fs {:mvn/version "0.4.19"}
                     babashka/process {:mvn/version "0.5.21"}}
        :main-opts ["doc.clj"]}}}
