{:aliases
 {:doc {:extra-deps {dinodoc/dokka {:local/root "../../components/dokka"}
                     ;; for Java signature format
                     org.jetbrains.dokka/kotlin-as-java-plugin {:mvn/version "1.9.20"}}
        :main-opts ["doc.clj"]}}}
