{:deps {com.structurizr/structurizr-dsl {:mvn/version "1.32.0"}
        com.structurizr/structurizr-export {:mvn/version "1.16.1"}
        babashka/fs {:mvn/version "0.4.19"}
        cheshire/cheshire {:mvn/version "5.12.0"}}}
