{:deps {com.structurizr/structurizr-dsl {:mvn/version "1.32.0"}
        com.structurizr/structurizr-export {:mvn/version "1.16.1"}
        org.clojure/java.data {:mvn/version "1.2.107"}
        babashka/fs {:mvn/version "0.4.19"}}}
